kind: Deployment
apiVersion: apps/v1
metadata:
  name: nfs-client-provisioner
spec:
  selector:
    matchLabels:
      app: nfs-client-provisioner
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: "{{ provisioner_name }}"
            - name: NFS_SERVER
              value: "{{ hostvars[groups['masters'][0]].internal_ip }}"
            - name: NFS_PATH
              value: "{{ master_path }}"
      volumes:
        - name: nfs-client-root
          nfs:
            server: "{{ hostvars[groups['masters'][0]].internal_ip }}"
            path: "{{ worker_path }}"
